@import '../variables';
/* Ссылка */
.default-link {
	color: $black-color;
	text-decoration: underline;
	/* анимации ссылки */
	transition: color $transition-duration,
		background-color $transition-duration;

	/* focus-visible - эл. получил фокус через Tab */
	&:focus-visible {
		/* отсутствует рамка на объекте при фокусе */
		outline: none;
		background-color: $base-color;
	}

	&:hover {
		color: $base-color-hover;
	}

	&:active {
		color: $base-color-active;
	}
}
