/* Подзаголовок */

.subtitle {
	/* по БЭМ важно избавиться от внешних отступов, которые у заголовков бывают по умолчанию */
	margin: 0;
	text-align: center;
	/* толщина шрифта */
	font-weight: 700px;
	font-size: 34px;
}